/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --shadow-blue: hsl(212, 23%, 69%, 0.3);
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem; /* 13px */
  font-weight: 500;
  color: var(--desaturated-dark-blue);
  padding: clamp(1.5rem, 4vw, 2rem);
  background-color: var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-preview-card {
  min-width: 16rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "image"
    "content";
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 2rem 3rem var(--shadow-blue);
}

.article-image-container {
  grid-area: image;
  max-width: 100%;
  height: 12rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.article-content {
  grid-area: content;
  max-width: 26rem;
}

.article-header {
  padding: 2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.article-title {
  font-size: clamp(1rem, 4vw, 1.2rem);
}

.article-title,
.article-author {
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}

.article-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
  height: 4.5rem;
}

.article-meta.bg-change {
  background-color: var(--very-dark-grayish-blue);
}

.article-author-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.article-author-container.inactive {
  display: none;
}

.article-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.article-author {
  font-size: 0.8125rem; /* 13px */
}

.article-date {
  color: var(--grayish-blue);
}

.share-button {
  background-color: var(--light-grayish-blue);
  border: none;
  padding: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
}

.share-icon {
  fill: var(--very-dark-grayish-blue);
  display: block;
  position: relative;
  bottom: 0.05rem;
}

.share-button.active {
  .share-icon {
    filter: invert(94%) sepia(15%) saturate(0%) hue-rotate(273deg)
      brightness(200%) contrast(101%);
  }
  background-color: var(--desaturated-dark-blue);
}

.share-modal {
  display: none;
}

.share-modal p {
  color: var(--grayish-blue);
  letter-spacing: 0.3rem;
}

.share-modal.active {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--very-dark-grayish-blue);
}

@media (min-width: 54em) {
  .article-preview-card {
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "image content";
  }

  .article-image-container {
    height: auto;
  }

  .article-image {
    max-width: 18rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    object-position: left;
  }

  .article-content {
    padding-bottom: 1.5rem;
  }

  .article-meta {
    margin-top: -0.25rem;
    padding-bottom: 0rem;
  }

  .article-meta.bg-change {
    background-color: transparent;
  }

  .share-wrapper {
    position: relative;
    display: inline-block;
    overflow: visible;
  }

  .share-modal.active.absolute {
    min-width: 15.5rem;
    display: flex;
    position: absolute;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    bottom: 2.75rem;
    left: 5.6rem;
    transform: translateX(-50%);
    background-color: var(--very-dark-grayish-blue);
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 0.5rem 1rem var(--shadow-blue);
  }

  .arrow-down {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-top: 0.75rem solid var(--very-dark-grayish-blue);
  }
}
